<component name="libraryTable">
  <library name="springcloud-provider-payment8002-1.0-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/springcloud-provider-payment8002/target/springcloud-provider-payment8002-1.0-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>